/* Place CSS styles here */

body {
    color: #1b1b1b;
    font-family: "Merriweather", serif;
    font-size: 16px;
    margin: 0;
    background-color: darkolivegreen;
}

.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
 background-color: rgba(255, 255, 255, .5); /* Red with 50% opacity */
  padding: 75px;
  border-radius: 6px;
  border: 1px solid black;
}

.slider {
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.slides img {
  height: 100%;
  object-fit: cover;
}

/* Buttons */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

#prev { left: 10px; }
#next { right: 10px; }

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #deb887;
    font-family: "Ultra", serif;
    font-weight: 700;
    text-shadow: 1px 2px 3px #000000;
}

h1 {
  text-align: center;
  color: rgb(107, 154, 190);
  text-shadow: 1px 2px 3px #000000;
  font-size: 100px;
  background-color: white;
  border: 2px solid black;
  font-family: "Ultra", serif;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Homepage-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



a {
    color: #deb887;
    text-decoration: none;
    border: 1px solid transparent;
}

a:hover {
    color: white
    text-decoration: underline;
    border: 1px solid #f00;
}

a:focus-visible {
    color: white
    text-decoration: underline;
    border: 1px solid #f00
    outline: none;
    box-shadow: 0 0 4px black;
}

.footer {
  border-top-width: 2px;
  border-top-style: solid;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}