/* Place CSS styles here */

body {
    color: #1b1b1b;
    font-family: "Merriweather", serif;
    font-size: 16px;
    margin: 0;
    background-color: darkolivegreen;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #deb887;
    font-family: "Ultra", serif;
    font-weight: 700;
    text-shadow: 1px 2px 3px #000000;
}

h1 {
    background-color: white;
    border: 2px solid black;
    font-size: 70px;
    margin-top: 0px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.Homepage-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



a {
    color: #deb887;
    text-decoration: none;
    border: 1px solid transparent;
}

a:hover {
    color: black;
    text-decoration: underline;
    border: 1px solid hotpink;
}

a:focus-visible {
    color: black;
    text-decoration: underline;
    border: 1px solid hotpink;
    outline: none;
    box-shadow: 0 0 4px black;
}