/* Place CSS styles here */

body {
    color: #1b1b1b;
    font-family: "Ultra", serif;
    font-size: 16px;
    margin: 0;
    background-color: darkolivegreen;
}

.wrapper {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
 background-color: rgba(255, 255, 255, .5); /* Red with 50% opacity */
  padding: 75px;
  border-radius: 6px;
  border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
  border-top-width: 2px;
  border-top-style: solid;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

/* Buttons */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 28px;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

#prev { left: 10px; }
#next { right: 10px; }

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    flex: 1;
    /* i need this so that main takes up the remaining space */
    padding-left: 20px;
    padding-right: 20px;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #deb887;
    font-family: "Ultra", serif;
    font-weight: 700;
    text-shadow: 1px 2px 3px #000000;
}

h1 {
  text-align: center;
  color: rgb(107, 154, 190);
  text-shadow: 1px 2px 3px #000000;
  font-size: 100px;
  background-color: white;
  border: 2px solid black;
  font-family: "Ultra", serif;
}

img {
    border: 3px solid black;
    max-width: 100%;
    height: auto;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.Homepage-container{
    display: flex;
    flex-direction: column;
}

h2 {
  text-align: center;
  color: rgb(107, 154, 190);
  font-family: "Ultra", serif;
  font-weight: 700;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}


a {
    color: #deb887;
    text-decoration: none;
    border: 1px solid transparent;
}

a:hover {
    color: white
    text-decoration: underline;
    border: 1px solid #f00;
}

a:focus-visible {
    color: white
    text-decoration: underline;
    border: 1px solid #f00
    outline: none;
    box-shadow: 0 0 4px black;
}
