/* Place CSS styles here */

body {
    color: #1b1b1b;
    font-family: "Ultra", serif;
    font-size: 16px;
    margin: 0;
    background-color: #4F5503;
}

.wrapper {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
 background-color: rgba(255, 255, 255, .5); /* White with 50% opacity */
  padding: 75px;
  border-radius: 6px;
  border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
  border-top-width: 2px;
  border-top-style: solid;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

/* Buttons */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 28px;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background: rgba(0,0,0,0.8);
}

#prev { left: 10px; }
#next { right: 10px; }

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    flex: 1;
    /* i need this so that main takes up the remaining space */
    padding-left: 20px;
    padding-right: 20px;
}

.ultra-regular {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #FFFC41;
    font-family: "Ultra", serif;
    font-weight: 700;
    text-shadow: 1px 2px 3px #000000;
}

h1 {
  text-align: center;
  color: #EDF2F7;
  text-shadow: 1px 2px 3px #000000;
  font-size: 100px;
  background-color: white;
  border: 2px solid black;
  font-family: "Ultra", serif;
}

img {
    border: 3px solid black;
    max-width: 100%;
    height: auto;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
.Homepage-container{
    display: flex;
    flex-direction: column;
}

h2 {
  text-align: center;
  color:    color: #FFFC41;
  font-family: "Ultra", serif;
  font-weight: 700;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}

h3 {
  text-align: center;
  color: rgb(0, 0, 0) 1px 2px 3px;
  font-family: "Ultra", serif;
  font-weight: 500;
  text-shadow: rgb(0, 0, 0) 1px 2px 3px;
}

a {
    color: #FFFC41;
    text-decoration: none;
    border: 1px solid transparent;
}

a:hover {
    color: white
    text-decoration: underline;
    border: 1px solid #f00;
}

a:focus-visible {
    color: white
    text-decoration: underline;
    border: 1px solid #f00
    outline: none;
    box-shadow: 0 0 4px black;
}

.editorial-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.editorial-images a {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.event-images   {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.event-images a {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.group-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.group-images a {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.builtin-about {
}

.builtin-about-centered .aboutme {
    padding: 8px 16px 16px 16px;
}

.builtin-about .builtin-about-column {
    position: relative;
    padding-top: 8px;
    max-width: 700px;
    margin: 0 auto;
}

.builtin-about .builtin-breadcrumbs {
    width: 668px;
    margin: 0 auto;
}

.builtin-about-ltrt .builtin-breadcrumbs {
    width: 678px;
}

.builtin-about-ltrt .myphoto .pv-outer {
    padding-right: 40px;
    padding-bottom: 40px;
}

.builtin-contact {
}

.builtin-contact-middle {
    vertical-align: middle;
}

.builtin-contact-frame {
    padding: 40px 103px;
}

.builtin-contact-form {
    vertical-align: middle;
}

.builtin-contact .contactInfo TD {
    width: 246px;
    max-width: 246px;
    overflow: hidden;
    line-height: 18px;
}

.builtin-contact .contactInfo TD.label {
    width: 100px;
    line-height: 18px;
}

.builtin-contact-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 944px;
    margin: 0 auto;
}

.builtin-contact-info, .builtin-contact-form {
    padding: 40px 60px;
}

.builtin-contact .contactInfo {
    width: 294px;
    margin: 32px auto;
    position: relative;
}

.builtin-contact .contact-form {
    padding-top: 12px;
    width: 280px;
    margin: 0 auto;
    position: relative;
}

.contact-recaptcha .grecaptcha-badge {
    width: 256px;
    height: 60px;
    display: block;
    transition: right 0.3s ease 0s;
    position: fixed;
    bottom: 114px !important;
    box-shadow: grey 0px 0px 5px;
    border-radius: 2px;
    overflow: hidden;
    visibility: visible !important;
    z-index: 2;
}

.builtin-guestbook {
}

.builtin-guestbook .builtin-guestbook-column {
    position: relative;
    padding-top: 8px;
    max-width: 700px;
    margin: 0 auto;
}

.builtin-guestbook .builtin-breadcrumbs {
    width: 700px;
    margin: 0 auto;
}

.builtin-featured .pg {
    margin-top: 20px;
}

.builtin-recent .pg {
    margin-top: 20px;
}

.builtin-login {
}

.builtin-login .form-frame-bin {
    min-height: 455px;
}
