/* Place CSS styles here */

body {
    color: #1b1b1b;
    font-family: "Merriweather", serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: coral;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-shadow: 1px 2px 3px #000000;
}

h1 {
    background-color: white;
    border: 2px solid black;
    font-size: 70px;
    margin-top: 0;
}

.Homepage-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
